<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<form action="/ItemShop/itemEdit" method="POST">
    <input name="id" th:value="${item.id}" style="display:none">
    <input name="title" th:value="${item.title}">
    <input name="price" th:value="${item.price}">
    <button type="submit">버튼</button>
</form>
</body>
</html>