<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
    <nav class="top_nav">
        <p class="red">오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류오류</p>
    </nav>
    <div class="background">
        <a th:href="@{/list/form}" class="button">등록하기</a>
        <div th:each="item:${items}">
            <div class="wrap">
                <img src="">
                <h4 class="title" th:text="${item.title}">사과</h4>
                <p class="price" th:text="${item.price}">90000백만원</p>
            </div>
        </div>
</div>
</body>
</html>